


.box-users {
	padding-right: 10px;
	padding-left: 10px;
	border-left: 15px solid white;
	border-right: 15px solid white;
	border-top: 15px solid white;
	border-bottom: 5px solid white;

}

.box-users2 {
  background-color: #FFFFFF;
  padding-right: 10px;
  padding-left: 10px;

}

.img-user{
	float: left;
  	width: 30%;
}

.box-user-profile {
	float: right;
  	width: 65%;
}

.box-separator {
  	padding: 2px;
  	font-size: 17px;
  	float: left;
  	width: 100%;
  	background: #FF5757;
	 border-left: #FFFFFF;
	border-right: #FFFFFF;
	border-bottom: #FFFFFF;

}
.box-separator-white {
  	padding: 0.5px;
  	font-size: 17px;
  	float: left;
  	width: 100%;
  	background: #FFFFFF;
	}
