<div id="kconteiner">
  <div class = "box box2">
    <div class="titles">
      <h3><span class="glyphicon glyphicon-map-marker"></span> Location</h3>
    </div>
    <div id="map"></div>
  </div>
</div>
<script>
<% puts @post.gps %>
<% puts 'holaaaaaaa' %>
<% s = Geo.create(address: @post.gps) %>
<% puts s.latitude %>
<% puts s.longitude %>

function initMap() {
  <% s = Geo.create(address: @post.gps) %>
  <p id="lati">s.latitude 
  <p id="longi">s.longitude



  var x = document.getElementById("longi");
  var y = document.getElementById("lati");

  var uluru = {lat: <%= s.latitude %>, lng: <%= s.longitude %>};

  var map = new google.maps.Map(
    document.getElementById('map'), {zoom: 14, center: uluru});
  var marker = new google.maps.Marker({position: uluru, map: map});
  }
</script>
<style>
  #map {
    height: 400px;
    width: 100%;
   }
</style>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6_GMJcolYCOnu_HyHi05w5-yS7KN0yZE&callback=initMap">
</script>

